<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main profile" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2> <span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " th:if="${section == 'question'}">
                <div class="media" th:each="questionDTO:${pageNation.questionDTOS}">
                    <nav aria-label="Page navaigation"></nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " th:if="${section == 'replies'}">
                <div class="media" th:each="notificationDTO:${notificationDTOList}">
                    <div class="media-left" >
                        <div>
                            <p class="media-heading" >
                                <span th:text="${notificationDTO.getNotifier().getName()+'' +notificationDTO.getType()}"></span>
                                <a th:href="@{'/replies/'+${notificationDTO.getId()}}"
                                   th:text="${notificationDTO.getOuterTitle()}"   >
                                </a>
                                <span class="label label-danger" th:if="${notificationDTO.getStatus()==0}">未读</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section == 'questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a href="/profile/replies"  th:class="${section == 'replies'}?'active list-group-item':'list-group-item '">
                    最新回复
                <span class="badge" th:text="${unreadCount}"></span>
                </a>
            </div>
        </div>
    </div>

<!--    我的问题数据展示-->
    <div th:if="${section == 'questions'}">
    <div class="media" th:each="questionDTO:${pageNation.getQuestionDTOS()}">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-rounded"
                     th:src="${questionDTO.user.getAvatarUrl()}" >
            </a>
        </div>
        <div class="media-body" ><a th:href="@{'/question/'+${questionDTO.getId()}}" >
            <h4 class="media-heading" >
                <a th:href="@{'/question/'+${questionDTO.getId()}}" th:text="${questionDTO.title}"></a>
            </h4>
        </a>
            <span th:text="${questionDTO.getDescription()}"></span><br>
            <span class="text-desc">• <span th:text="${questionDTO.getCreator()}"></span> 发起了问题 • <span th:text="${questionDTO.getLikeCount()}"></span>人关注 • 0 个回复 • <span th:text="${questionDTO.getViewCount()}" }></span> 次浏览 •发布时间<span th:text="${#dates.format((questionDTO.gmtCreate),'yyyy MM dd HH:mm')}"></span></span>
        </div>
    </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a th:if="${pageNation.getShowFirstPage()}"  th:href="@{'/profile/questions'+(page=${1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a th:if="${pageNation.getShowPre()}"  th:href="@{/profile/questions(page=${pageNation.page-1})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:class="${pageNation.page==page} ? 'active':''" th:each="page:${pageNation.pages}"><a th:href="@{/profile/questions(page=${page})}"  th:text="${page}"></a></li>

                <li>
                    <a th:if="${pageNation.getShowNext()}"  th:href="@{/profile/questions(page=${pageNation.page+1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:if="${pageNation.getShowEndPage()}"  th:href="@{/profile/questions(page=${pageNation.totalPage})}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>




</div>
<div th:insert="footer :: foot"></div>
</body>
</html>